<%- include("../../shared/includes/head", {pageTitle:"Payment Failed!"}) %>
</head>
<body>
    <%- include("../../shared/includes/header") %>
<main>
<h1>Your Payment Failed!</h1>
<p>please contact the shop owner for further help!</p>


</main>
<%- include("../../shared/includes/footer") %>    

