<%- include("../../shared/includes/head", {pageTitle:"Successfull Payment!"}) %>
</head>
<body>
    <%- include("../../shared/includes/header") %>
<main>
<h1>Succefully Completed Payment!</h1>


</main>
<%- include("../../shared/includes/footer") %>    

